@charset "utf-8";
@import url("reset.css");
@import url("common.css");

body {
    background-color:#13110f;
}

#contents {
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    line-height:26px;
    color:#bfb299;
    font-family:'Noto Sans Myanmar', sans-serif;;
}
.txt-box {
}
.txt-box:first-child {
    margin-top:12px;
}

.img-box {

}
.img-box:first-child {
    margin-top:4px;
}
.img-box + .txt-box {
    margin-top:27px;
}

.time-box {
    height:140px;
    padding:20px 10px 0;
    background-color:#403c38;
    border-radius:6px;
    text-align:center;
}
.time-box i {
    display:inline-block;
    width:60px;
    height:60px;
    background:url(../images/icon/ico_clock.svg) no-repeat left top;
    background-size:100%;
    vertical-align:middle;
}
.time-box p {
    margin-top:13px;
    font-weight:500;
    font-size:20px;
    line-height:43px;
}
.txt-box + .time-box {
    margin-top:32px;
}
