@charset "utf-8";
@import url("reset.css");
@import url("common.css");

body {
    background-color:#13110f;
}

#contents {
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    line-height:26px;
    color:#bfb299;
    font-family:'Noto Sans Myanmar', sans-serif;
}
.txt-box {
}
.txt-box:first-child {
    margin-top:12px;
}

.img-box {

}
.img-box:first-child {
    margin-top:4px;
}
.img-box + .txt-box {
    margin-top:27px;
}

.time-box {
    height:140px;
    padding:20px 10px 0;
    background-color:#403c38;
    border-radius:6px;
    text-align:center;
}
.time-box i {
    display:inline-block;
    width:60px;
    height:60px;
    background:url(../images/icon/ico_clock.svg) no-repeat left top;
    background-size:100%;
    vertical-align:middle;
}
.time-box p {
    margin-top:13px;
    font-weight:500;
    font-size:20px;
    line-height:43px;
}
.txt-box + .time-box {
    margin-top:32px;
}

.input-wrap {
    position:relative;
}
.input-wrap:before {
    content:'';
    position:absolute;
    left:30px;
    top:50%;
    width:1px;
    height:20px;
    background-color:#13110f;
    transform:translate(0, -50%);
}
.input-wrap input {
    width:100%;
    height:60px;
    padding-left:40px;
    padding-right:10px;
    background-color:#fff;
    border:0;
    border-radius:6px;
    font-family:'Noto Sans Myanmar', sans-serif;
    font-weight:500;
    font-size:20px;
    line-height:60px;
    color:#574c40;
}

.form-box {
    padding-top:20px;
}
.form-box .input-wrap {
    
}
.form-box .btn {
    width:100%;
    margin-top:10px;
}

.hint-box {
    margin-top:42px;
    text-align:center;
}
.hint-box p {
    font-family:'Nanum Myeongjo', sans-serif;
    font-weight:700;
    font-size:14px;
    line-height:20px;
    color:#978b7e;
}
.hint-box .btn {
    margin-top:12px;
    letter-spacing:0;
}

.card-box {
    height:300px;
    margin-top:5px;
    padding:59px 0 0;
    border-radius:6px;
    border:2px solid #bfb299;
    background-color:#2b2d75;
    font-family:'Nanum Myeongjo', sans-serif;
    text-align:center;
}
.card-box strong {
    display:block;
    margin-bottom:18px;
    font-weight:700;
    font-size:46px;
    line-height:66px;
    color:#978b7e;
    opacity:0.4;
}
.card-box .item-wrap {
    display:flex;
    justify-content:center;
}
.card-box .item-wrap .item {
    display:flex;
    position:relative;
    width:60px;
    height:60px;
    border-radius:6px;
    background-color:#fff;
    align-items:center;
    justify-content:center;
    font-weight:800;
    font-size:20px;
    color:#111;
}
.card-box .item-wrap .item:after {
    content:'';
    position:absolute;
    right:-5px;
    top:-5px;
    width:18px;
    height:18px;
    background:url(../images/icon/ico_check.svg) no-repeat left top;
    background-size:100%;
}
.card-box .item-wrap .item + .item {
    margin-left:15px;
}
.card-box + .txt-box {
    margin-top:38px;
}