@charset "utf-8";
@import url("reset.css");
@import url("common.css");

body {
    background-color:#13110f;
}

#contents {
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    line-height:26px;
    color:#bfb299;
    font-family:'Noto Sans Myanmar', sans-serif;
}

.txt-box {
    position:relative;
}
.txt-box:first-child {
    margin-top:12px;
}

.img-box {
    overflow:hidden;
    position:relative;
    border-radius:6px;
}
.img-box:first-child {
    margin-top:4px;
}
.img-box + .txt-box {
    margin-top:27px;
}

.time-box {
    height:140px;
    padding:20px 10px 0;
    background-color:#403c38;
    border-radius:6px;
    text-align:center;
}
.time-box i {
    display:inline-block;
    width:60px;
    height:60px;
    background-size:100%;
    vertical-align:middle;
}
.ico-clock01 {
    background:url(../images/icon/ico_clock01.svg) no-repeat left top;
}
.ico-clock02 {
    background:url(../images/icon/ico_clock02.svg) no-repeat left top;
}
.ico-clock03 {
    background:url(../images/icon/ico_clock01.svg) no-repeat left top;
}
.ico-clock04 {
    background:url(../images/icon/ico_clock04.svg) no-repeat left top;
}
.ico-clock05 {
    background:url(../images/icon/ico_clock05.svg) no-repeat left top;
}
.ico-clock06 {
    background:url(../images/icon/ico_clock06.svg) no-repeat left top;
}
.ico-clock07 {
    background:url(../images/icon/ico_clock07.svg) no-repeat left top;
}
.ico-clock08 {
    background:url(../images/icon/ico_clock08.svg) no-repeat left top;
}
.ico-clock09 {
    background:url(../images/icon/ico_clock09.svg) no-repeat left top;
}
.ico-clock10 {
    background:url(../images/icon/ico_clock10.svg) no-repeat left top;
}
.ico-clock11 {
    background:url(../images/icon/ico_clock11.svg) no-repeat left top;
}
.ico-clock12 {
    background:url(../images/icon/ico_clock12.svg) no-repeat left top;
}
.ico-clock13 {
    background:url(../images/icon/ico_clock13.svg) no-repeat left top;
}
.time-box p {
    margin-top:13px;
    font-weight:500;
    font-size:20px;
    line-height:43px;
}
.txt-box + .time-box {
    margin-top:32px;
}

.form-box {
    padding-top:20px;
}
.form-box .btn {
    width:100%;
    margin-top:10px;
}
.form-box .inner {
    display:flex;
    justify-content:center;
}
.form-box .inner .input-wrap {
    width:60px;
    text-align:center;
}
.form-box .inner .input-wrap:before {
    left:20px;
}
.form-box .inner .input-wrap.focus:before {
    display:none;
}
.form-box .inner .input-wrap input {
    text-align:center;
    padding:0 5px;
}
.form-box .inner .input-wrap + .input-wrap {
    margin-left:10px;
}

.hint-txt {
    margin-top:42px;
    text-align:center;
}
.hint-txt p {
    font-family:'Nanum Myeongjo', sans-serif;
    font-weight:700;
    font-size:14px;
    line-height:20px;
    color:#978b7e;
}
.hint-txt .btn {
    margin-top:12px;
    letter-spacing:0;
}

.card-box {
    height:300px;
    margin-top:5px;
    padding:59px 0 0;
    border-radius:6px;
    border:2px solid #bfb299;
    background-color:#2b2d75;
    font-family:'Nanum Myeongjo', sans-serif;
    text-align:center;
}
.card-box strong {
    display:block;
    margin-bottom:18px;
    font-weight:700;
    font-size:46px;
    line-height:66px;
    color:#978b7e;
    opacity:0.4;
}
.card-box .item-wrap {
    display:flex;
    justify-content:center;
}
.card-box .item-wrap .item {
    display:flex;
    position:relative;
    width:60px;
    height:60px;
    border-radius:6px;
    background-color:#fff;
    align-items:center;
    justify-content:center;
    font-weight:800;
    font-size:20px;
    color:#111;
}
.card-box .item-wrap .item:after {
    content:'';
    position:absolute;
    right:-5px;
    top:-5px;
    width:18px;
    height:18px;
    background:url(../images/icon/ico_check.svg) no-repeat left top;
    background-size:100%;
}
.card-box .item-wrap .item + .item {
    margin-left:15px;
}
.card-box + .txt-box {
    margin-top:38px;
}

.hint-box {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:574px;
    margin-top:5px;
    padding-bottom:30px;
    border-radius:6px;
    border:2px solid #bfb299;
    background-color:#2b2d75;
    font-family:'Nanum Myeongjo', sans-serif;
    color:#978b7e;
}
.hint-box strong {
    display:block;
    padding:49px 0 9px 24px;
    font-weight:700;
    font-size:46px;
    line-height:53px;
    flex:0 1 auto;
}
.hint-box .txt {
    padding:0 28px;
    font-weight:700;
    font-size:14px;
    line-height:20px;
    flex:0 1 auto;
}
.hint-box .img{
    display:flex;
    padding:0 28px;
    flex:1;
    justify-content:center;
    align-items:center;
}

.camera-area {
    display:flex;
    align-items:center;
    justify-content:center;
    height:calc(100vh - 57px);
    background-color:#c3c3c3;
}
.camera-area p {
    font-weight:700;
    font-size:18px;
    color:#000;
}

.img-list {
    margin-top:12px;
}
.img-list p {
    overflow:hidden;
    border-radius:6px;
}
.img-list p + p {
    margin-top:10px;
}