@charset "utf-8";
@import url("reset.css");
@import url("common.css");

#contents {
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    line-height:26px;
    color:#bfb299;
    font-family:'Noto Sans Myanmar', sans-serif;;
}
.txt-box {
}
.txt-box:first-child {
    margin-top:12px;
}

.img-box {

}
.img-box:first-child {
    margin-top:4px;
}
.img-box + .txt-box {
    margin-top:27px;
}